@model User

<h1>Data Annotations Demo</h1>
<div asp-validation-summary="All" class="text-danger"></div>
<form method="post">
    <h2>UserName</h2>
    @Html.Editor("UserName")

    <h2>Password</h2>
    @Html.Editor("Password")

    <h2>Age</h2>
    @Html.Editor("Age")
    <input type="submit" />
</form>